
/*header*/
header {
    background-image: url('darker_back.jpg');
    background-size: cover;
    padding: 100px;
}



.headerRight_h {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    font-size: 18px;
    font-weight: bold;
}

.KH_menu{
    background-color: rgb(0, 0, 0); /* 배경색 */
    color: rgb(255, 255, 255); /* 텍스트 색상 */
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
}

.KH_menu:hover{
    background-color: pink;
    transition: 0.5s;
    color: #000;
}

.mainLogo_cr {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerInput_h {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    margin-top: 50px;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.headerSide_h {
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    text-shadow: 4px 4px 6px #000;
    color: white;
}

.min_input_h {
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

/*drop it로고*/
.logo_gy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 140px; /* 텍스트 크기 조정 */
    font-weight: 600;
    color: white; /* 초기 텍스트 색상 설정 */
    -webkit-text-stroke-width: 4px; /* 테두리 두께 설정 */
    -webkit-text-stroke-color: black; /* 테두리 색상 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    

    border: none; /* 외곽선 스타일 설정 */
    display: inline-block; /* 요소를 인라인 블록으로 표시하여 텍스트 크기에 맞게 자동으로 조정되도록 함 */
    transition: color 0.3s; /* 색상 변화에 애니메이션 효과 추가 */
}

.big-text:hover {
    color: pink; /* 마우스를 요소 위로 가져갈 때 텍스트 색상 변경 */
}

.line_remove{
        text-decoration: none; /* 밑줄 제거 */
}

.recom_gy {
    display: flex;
    flex-wrap: wrap; /* 요소들이 한 줄에 나열되되 너비를 벗어나면 다음 줄로 넘어감 */
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */
}

.r_word_gy {
    margin: 8px; /* 요소들 사이에 간격을 주기 위해 마진 설정 */
    padding: 0px 2px 0px 2px;
    font-weight: 600;
    background-color: rgb(244, 236, 236); /* 배경색 */
    color: black; /* 텍스트 색상 */
    border-radius: 3px;
}

h2 {
    color: #111;
    font-size: 30px;
}

.main1_cr {
    padding-bottom: 40px;
}
/*main1*/
.main1_title_LC {
    text-align: center;
    /*padding-top: 500px;*/
    padding-top: 50px;
}

.main1_introduction_LC {
    text-align: center;
    color: grey;
}

.main1_image_LC {
    text-align: center;
}

/*main2*/
.main2_cr{
    background-color: #a9a6a73f;
    padding-bottom: 40px;
}
.image_kjs{
    padding-top:20px;
    margin-left:40px;
    text-align: center;

  }
  
  .title_kjs{
      padding-top: 20px;
      text-align: center;
      font-weight: bolder;
  
  }
  
  
  .text_kjs{
      text-align: center;
      padding-top:20px;
      font-size:18px;
      font-weight: 400;
      
  }
  
  
  .instagram_kjs{
    background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }


/*main3*/
.Save_jh {
    margin: 0; 
    padding: 20px 10px 10px 10px;
    font-family: Arial, sans-serif;     
    display: flex;
    justify-content: center;
    color: black(247, 213, 213);
    /*font-size: 30px;*/
}

.Save_img_jh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px 10px;
}

.Text_jh {
    margin: 0; 
    padding: 30px 10px 0px 10px;
    font-family: Arial, sans-serif;     
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
}

/*Footer*/

footer{
    border-top: 1px solid rgba(21, 5, 5, 0.785);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #111;
}

.profile_cr{
    padding: 60px 0 30px;
    display: flex;
    justify-content: center;
}

.teamMember_cr {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teamMember_cr img{
    width: 60%;
    border-radius: 100px;
}

.teamMember_cr p{
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.815);
}

.footerContainer_cr{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons_cr{
    display: flex;
    justify-content: center;
}

.socialIcons_cr a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 45%;
}

.socialIcons_cr a i{
    font-size: 30px;
    color: black;
    opacity: 0.9;
}

.socialIcons_cr a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons_cr a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav_cr{
    margin: auto;
    width: 560px;
    height: 70px;
}

.footerNav_cr ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footerNav_cr ul li a{
    color: white;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav_cr ul li a:hover{
    opacity: 1;
}

.footerBottom_cr{
    background-color: #000;
    padding: 30px;
    text-align: center;
}

.footerBottom_cr p{
    color: white;
}

.designer_cr{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}